@import '../../style/variables.scss';

.comicstop {
	display: flex;
	flex-direction: row;
	align-items:center;
	background: #232222;
	&__avengers {
		padding-left: 45px;
	}
	&__content {
		color: #FFF;
		font-size: 24px;
		font-family: Roboto Condensed;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		padding-left: 83px;
		padding-right: 427px;
	}
	&__avengerslogo {
		padding-right: 25px;
	}
}
